body{
    margin: 0;
}
 .pages{
    width: 1349px;
    height: 641px;
    background-position: center;
    /* Make the background image cover the area of the <div>, and clip the excess */
    background-size: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@font-face {
    font-family: my-font;
    src: url(TESLA.ttf);
}
.image-1{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-3-Desktop-US.png);
}
.image-2{
    
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-Y-Desktop-US-v2.png);
}

.image-3{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-X-Desktop-US.png);
}
.image-4{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Model-S-Desktop-US.png);
}
.image-5{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image: url(https://digitalassets.tesla.com/discovery-tesla-com/image/upload/f_auto,q_auto/Homepage-Cybertruck-Desktop.jpg);
}
.image-6{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarPanels-01-Desktop);
}
.image-7{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-SolarRoof-Desktop-US.png);
}
.image-8{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Powerwall-Desktop-US.png);
}
.image-9{
    background-image: url(https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Homepage-Accessories-Desktop-US.png);
}
.page-1-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: left;
}
.logo{
    width: 33.5%;
    height: 100%;
}
.logo a{
    text-decoration: none;
    
}
.logo h4 {
    font-family: my-font;
    margin-top: 19px;
    margin-left: 49px;
   color: white;
   font-weight: lighter;
   letter-spacing: 11px;
   font-size: 18px;
   
   
}
.navbar{
    width: 30%;
    height: 100%;
    margin-top: 6px;
    
}
.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    
}
.navbar ul li{
    
    color:rgba(255, 255, 255, 0.9);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13.5px;

}

.enquiry{
    width: 36.5%;
    height: 100%;
   
}
.enquiry div{
    display: flex;
    justify-content: right;
    margin-top: 5px;
}
.help{
    width: 28px;
    margin-right: 7px;
    filter: invert(1);
    margin-top: 3px;   
}
.globe{
    
    margin-right: 10px;
    width: 26px;
    margin-top: 3px; 
}
.profile{
    
   margin-right: 34px;
    margin-top: 3px;
    width: 26px; 
}
.page-body{
    width: 100%;
    height: 86.4%;
    text-align: center;
   
    
    
}
.page-body h1{
    color: rgb(255, 255, 255);
    font-size: 56px;
    
}
.page-body h3{
    color: white;
    margin-top: -40px;
    font-size: 28px;
    text-decoration: underline;
}
.page-body p{
    color: #fff;
    margin-top: -25px;
    font-size: 17px;
}
.button-div{
    display: flex;
    margin-top: 364px;
    align-items: end;
    justify-content: center;
}
.pages-button-1{
    width: 264px;
    height: 40px;
    background-color: rgb(62, 106, 225);
    font-size: 14px;
    border: none;
    border-radius: 3px;
    color: #fff;
}
.button-space{
    width: 16px;
}
.pages-button-2{
    width: 264px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    font-size: 14px;
    border: none;
    border-radius: 3px;
    color: #000000;
}
.image-5 img{
    width:450px;
    height: 127px;
    margin-top: 53px;
    

}
.cyber-button-1{
    width: 264px;
    height: 40px;
    background-color: rgb(39, 39, 39);
    font-size: 14px;
    border: none;
    border-radius: 3px;
    color: #8e8e8e; 
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
hr{
    width: 261px;
    height: 1px;
    margin-left: -6px;
    margin-top: -1px;
    background-color: #8e8e8e;
    

}
.cyber-button-2{
    width: 264px;
    height: 40px;
    background-color: rgb(39, 39, 39);
    font-size: 14px;
    border: solid 1px;
    color: #8e8e8e;
}
footer{
    width: 100%;
    background: #000000;
    display: flex;
    justify-content: center;
}   
.footer-section{
    width: 600px;
    height: 532px;
    margin-top: 30px;
   
}
footer p{
    color: rgb(208, 209, 210);
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 18px;
    text-align: center;
    
}
footer li{
    color: rgb(208, 209, 210);
    font-size: 12px;
   
}
footer ul{
    display: flex;
    list-style: none;
    justify-content: space-between;

}
.footer-ul{
    margin-top: 80px;
}